.drop{
    width: 50vw;
    height: 40vw;
    border: 5px dashed #00f534;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    align-content: center;
}

.drop hr{
    width: 100%;
    opacity: 0.0;
}

.drop h1{
    font-size: 3vw;
}

label{
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-color: #ff4cb4;
}

label:hover{
    cursor: pointer;
}

#upload{
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}